:root {
    --background-color: #020202;
    --darker-background-color: #0d0d16;
    --text-color: #f5f5f5;
    --solid-accent-color: rgb(85 5 118);
    --accent-color: linear-gradient(309deg, rgb(85 5 118) 0%, rgb(28 32 167) 100%);
    --darker-accent-color: #a068ff;
    --blurred-bg-color: rgb(47 47 47 / 45%);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    border: none;
    background-color: unset;
    color: var(--text-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: .5s;
}

::-webkit-scrollbar {
    width: 0px;
}

button:hover {
    cursor: pointer;
    filter: hue-rotate(35deg) contrast(1.5);
}

body {
    background-color: var(--background-color);
    height: 100dvh;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}

.hidden {
    display: none !important;
}

main {
    padding: 1em;
    min-height: 90%;
    background-color: var(--darker-background-color);
    border-radius: 1em 1em 0 0;
    overflow-y: scroll;
}

header {
    /* height: 10%; */
    /* min-height: 10%; */
    padding: 1em 1em 0 1em;
    margin: 0;
    background-color: #020202;
    display: flex;
    align-items: start;
    flex-direction: column;
    position: sticky;
    top: 0;
    border-radius: 0 0 1em 1em;
}

header:has(> .hidden) {
    padding: 1em;
}


header::before {
    content: '';
    position: absolute;
    top: -2em;
    left: -2em;
    height: 10em;
    width: 10em;
    /* background-color: var(--darker-accent-color); */
    z-index: -1;
    filter: blur(8em);
}

header>button {
    display: none;
}

footer {
    position: fixed;
    bottom: 0em;
    left: 0;
    display: flex;
    background-color: var(--blurred-bg-color);
    border-radius: .5em;
    backdrop-filter: blur(.4em);
    flex-direction: row;
    width: -moz-available;
    width: -sam-available;
    width: -webkit-fill-available;
    justify-content: center;
    height: 10dvh;
    min-height: 4em;
    align-items: center;
    margin: 1em;
}

footer>button {
    width: 33%;
    height: 10dvh;
}

footer>button:hover {
    box-shadow: 0 4px var(--accent-color);
    font-weight: bold;
    font-size: 1.05em;
}

video#video {
    width: 100%;
    max-height: 25em;
    min-height: 15em;
    background-color: black;
    transition: .5s;
    object-fit: cover;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    padding-top: 1em;
}


section>button {
    flex: 1 1 10em;
    background: var(--accent-color);
    height: 3em;
    border-radius: .5em;
    color: var(--text-color);
}

section>button:hover {}


section:first-of-type {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    margin-bottom: 12em;
}

section:first-of-type button {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 10em;
    border-radius: .5em;
    height: 10em;
    color: var(--header-color);
}

section:nth-of-type(2) {
    overflow-y: scroll;
    padding-bottom: 12em;
}

header div {
    display: flex;
    width: 100%;
    height: 3em;
    background: var(--darker-background-color);
    border-radius: .5em;
    margin: 1em 0em;
}

header div input[type="submit"] {
    width: 20%;
    font-size: 1.5em;
}

section:nth-of-type(2) div input[type="submit"]:hover {
    font-size: 2em;
    cursor: pointer;
}

div label input[type="search"] {
    width: 100%;
    height: 100%;
    padding: 0 .5em;
    font-size: 1em;
}

div label {
    width: 100%;
}

section:nth-of-type(2) button:nth-of-type(n+2) {
    background: unset;
    border: .2em solid var(--solid-accent-color);
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #c7e7ff;
        --text-color: #313131;
        --header-color: #06365a;
        --solid-accent-color: rgb(97 136 165);
        --darker-background-color: white;
        --accent-color: linear-gradient(135deg, rgba(199, 231, 255, 1) 0%, rgba(82, 181, 255, 1) 100%);
        --blurred-bg-color: rgb(179 222 255 / 77%);
    }

    button {
        color: var(--header-color);
    }

    button:hover {
        filter: hue-rotate(-25deg);
    }

    section:nth-of-type(2) button:nth-of-type(n+2) {
        color: var(--header-color);
    }

    header {
        background: var(--background-color);
    }
}

h1 {
    color: var(--header-color);
}

button {
    font-size: 16px;
    font-weight: 700;
}